[submodule "thirdparty/ios-cmake"]
	path = thirdparty/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/panicfrog/SQLiteCpp.git
